@import "components/status-bar.css";
@import "components/welcome-header.css";
@import "components/login-form.css";
@import "components/navigation.css";
@import "components/Find-screen.css";
@import "components/red-cicle__top.css";
@import "components/no-mobile.css";
@import "components/start.css";

@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find-screen__main.css";
@import "screens/open-chat__screen.css";
@import "screens/more-screen.css";
@import "screens/setting.css";
@import "screens/chatting.css";

@import "reset.css";

@font-face {
  font-family: "CookieRun";
  src: url(/font/CookieRun\ Bold.ttf) format("truetype");
}
body,
a,
input,
span,
h1,
div {
  font-family: "CookieRun";
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
