.chats-screen__main {
  margin-top: 15px;
}

.friends-name {
  cursor: pointer;
  justify-content: space-between;
  padding: 0px 25px;
}
.friends-name,
.friends-name__column:first-child {
  display: flex;
  align-items: center;
}

chats-freinds__name {
  font-weight: 600;
  display: flex;
}
.chats-friends__info {
  font-size: 15px;
  margin-left: 2px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.friends-name__column:last-child {
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-time {
  margin-bottom: 3px;
  opacity: 0.3;
  display: block;
}
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 17px;
}
