#chatting-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chatting-screen .status-bar,
#chatting-screen .chatting-title {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 2;
}
#chatting-screen .chatting-title {
  top: 10px;
  z-index: 1;
}

.chatting-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-top: 50px;
}

.chatting-name__title {
  font-size: 28px;
  font-weight: 600;
}
.chatting-name {
  margin-left: 50px;
}

.chatting-screen__main {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-top: 180px;
  padding-left: 25px;
  padding-right: 25px;
}
.chatting-date {
  background-color: #92a4b2;
  color: white;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 100px;
}
.messge-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;
  width: 100%;
}
.messge-row img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
.messge-row__column {
  margin-left: 10px;
}
.message-box {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
}
.message-text {
  font-weight: 600;
  background-color: white;
  border-radius: 20px;
  border-top-left-radius: 0%;
  width: 25px;
  height: 26px;
  font-size: 20px;
  text-align: center;
  padding: 13px;
}
.message-time {
  margin-left: 10px;
}
.message-row__my {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 35px;
}

.message-text__mine {
  background-color: yellow;
  width: 120px;
  height: 26px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 13px;
  border-radius: 20px;
  border-top-right-radius: 0%;
  margin-left: 10px;
}
.message-row__mine-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.reply {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}
.reply i {
  opacity: 0.3;
}
.reply .reply__column:first-child {
  margin-left: 15px;
  margin-right: 15px;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
  margin-right: 15px;
}
.reply input {
  padding: 12px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 3px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 10px;
  font-size: 20px;
}
.reply__column button {
  background-color: yellow;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
