.find-screen__main {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 25px;
  padding: 5px 0px;
}
.recommend-friend {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.recommend-friend:last-child {
  margin: 80px 0px;
  display: block;
  text-align: center;
  font-weight: 600;
}
.find-screen__bottom {
  margin: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.find-screen__bottom a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.find-screen__bottom span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.24);
}
.find-screen__bottom .fa-chevron-right {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.7);
}
