.open-chat__first {
  padding: 20px 0px;
  margin: 5px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-chat__one {
  font-size: 25px;
  font-weight: 600;
}
.open-chat__s {
  display: flex;
  align-items: center;
}
.open-chat__hashtag {
  display: flex;
  opacity: 0.5;
  font-weight: 500;
  margin-bottom: 8px;
}
.open-chat__photo {
  display: flex;
  align-items: center;
}
.fan-photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.open-chat__column {
  padding-bottom: 15px;
}
.open-chat__members {
  margin-left: 10px;
  font-size: 13px;
  opacity: 0.5;
}
.open-chat__member-status {
  font-size: 13px;
  color: tomato;
}
.divider {
  width: 2px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 5px;
  align-items: center;
}
.star-photo__like {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}
.open-chat__second {
  padding: 10px 0px;
  margin: 10px 25px;
}
.star-photo {
  position: relative;
}
.star-photo__like-btn {
  background-color: rgba(34, 15, 15, 0.5);
  border-radius: 15px;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  left: 50px;
  cursor: pointer;
}

.fa-heart {
  margin-top: 3px;
}
.star-photo__like {
  color: white;
}
.open-chat__first .star-photo__like-btn span {
  margin-left: 3px;
}
