.find-screen__menu {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  font-size: 25px;
}
.find-screen__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-screen__menu span {
  font-size: 17px;
  margin-top: 15px;
}
