.login-form {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
}
.login-id,
.login-password {
  opacity: 0.5;
  font-size: 25px;
  border: none;
  outline: none;
  padding: 23px 0px;
  margin: 0px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.find-account {
  margin-top: 25px;
  text-align: center;
  font-size: 15px;
  opacity: 0.7;
}

.login-btn {
  margin: 25px 25px;
  padding: 18px;
  font-size: 16px;
  background-color: yellow;
  outline: none;
  border: none;
  cursor: pointer;
}
.sign-btn {
  margin: -10px 25px;
  padding: 18px;
  font-size: 16px;
  background-color: yellow;
  outline: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
