.login-form__text {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  text-align: center;
}

.login-id,
.login-password {
  opacity: 0.5;
  font-size: 25px;
  border: none;
  outline: none;
  padding: 23px 0px;
  margin: 0px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form__text input:focus {
  border-color: yellow;
}

.login-btn {
  margin: 25px 25px;
  padding: 18px;
  font-size: 16px;
  background-color: yellow;
  outline: none;
  border: none;
  cursor: pointer;
}
.sign-btn {
  margin: -10px 25px;
  margin-bottom: 15px;
  padding: 18px;
  font-size: 16px;
  background-color: yellow;
  outline: none;
  border: none;
  cursor: pointer;
}
